html,#title{
    display: flex;
    justify-content: center;
  
}
.screen{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
   text-align: end;
    border-radius: 10px;
    width: 300px;
    height: 75px;
    border: solid black;
    margin: 10px;
}
.calc-frame{
    
    width:400px;
    height: 500px;
    border: solid black;
    border-radius: 1rem;
}
.sub-section{
    display: flex;
justify-content: center;
    height: 380px;

}
.section-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.button-section{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 350px;
    height: auto;
    border: solid black; 
    border-radius: 10px;
}
.outer-screen{
    display: flex;
    justify-content: center;
}

.operators,.button-section{
    padding: 5px;
    
}

.button,.operator-button{
    height: 60px;
    width: 70px;
    margin-top: 10px;
    margin: 5px;
}
#equal-btn{
    width: 140px;
}
#screen-display{
   
    margin-bottom: 0px;
    margin-right: 8px;
}